.*

.git
.svn
.hg

data
.next
node_modules
redis

prisma
cache

README.md
CHANGELOG.md

package.json
vercel.json
docker-compose.yaml
Makefile

start
yarn*

*/fonts
*/img
*/favicon.ico
*/metaimage.png
